





    .palette_mark {
	    width: 15px;
	    height:15px;
	    margin: 1px;
	    padding: 0px;
	}
	.palette_box {
	    width: 20px;
	    height:15px;
	    margin: 1px;
	    padding: 0px;
	}
	// Classes
	.center-block {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}

